/* Style the full sidebar */

/* Style the static sidebar */
.sidebar {
	/* position: fixed; */
	position: absolute;
	top: 0;
	width: var(--sidebar-width-static, 300px);
	height: 100vh;
	background-color: #FFF;
	opacity: 1;
	transition: left 0.3s ease-in-out;
	z-index: 100;
	/* Add a right grey border */
	border-right: var(--secondary-accent, #BBB) 2px solid;
}

/* Style the dynamic sidebar */
.sidebarDynamic {
	opacity: 0.95;
	width: var(--sidebar-width, 200px);
}

.sidebarOpen {
	left: 0;
}

.sidebarClosed {
	left: -300px;
	/* Start off-screen */
}

.sideBarLogoContainer {
	height: var(--header-height, 80px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 20px;
}

.sidebarContent {
	/* background-color: #555; */
	position: sticky;
	/* TODO: Fix the above position so that the sidebar content stays visible while the sidebar is open in static mode */
	width: 100%;
	height: max-content;
	z-index: 11;
	margin-left: 0;
}

.sidebarContent>ul {
	padding: var(--sidebar-spacing, 15px);
	margin: 0;
}


/* Modify the styles for SidebarItem */
.sidebarItem {
	list-style: none;
	/* Remove bullet point */
	padding: var(--sidebar-spacing, 15px);
	/* Add padding for better spacing */
	text-decoration: none;
	/* Remove underline for links */
	color: black;
	/* Set link color */
	/* display: block; */
	position: relative;
	padding: 10px;
	display: flex;
	align-items: center;
}

.sidebarItem:hover {
	background-color: var(--secondary-accent-light, #f0f0f0);
	/* Change background color on hover */
	color: var(--main-accent, #fe395c);
	font-weight: 700;
	cursor: pointer;
}

/* CSS for appending a grey "/" in front of li element on hover */
.sidebarItem:hover::before {
	content: '/';
	color: var(--secondary-accent, #BBB);
	margin-right: 2px;
	/* Adjust the distance between the "\" and the text */
}

.sidebarItemActive {
	/* background-color: var(--secondary-accent-light, #f0f0f0); */
	/* Change background color on hover */
	color: var(--main-accent, #fe395c);
	font-weight: 700;
}

/* Add a thin line for the active link */
.sidebarItemActive::after {
	content: '';
	/* Required for pseudo-elements */
	display: inline-block;
	/* Display the line as inline-block to only take the necessary space */
	width: 100%;
	/* Adjust the width of the line */
	height: 2px;
	/* Height of the line */
	background-color: var(--main-accent, #fe395c);
	/* Color of the line */
	margin-left: 15px;
	/* Adjust the space between the text and the line */
	text-align: right;
	margin-top: var(--sidebar-spacing, 15px);
}

.sidebarLoginContent {
	/* background-color: #555; */
	padding: 0 10%;
	position: sticky;
	/* TODO: Fix the above position so that the sidebar content stays visible while the sidebar is open in static mode */
	width: 100%;
	height: max-content;
	z-index: 11;
	margin-left: 0;
	text-align: center;
}

.sidebarLoginContent>p {
	font-size: 0.8rem;
}

/* Style a toggle button that shows for mobile devices */
.sidebarCloseButtonContainer {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10%;
}

/* Style a sidebar blackout container to be clicked to close the sidebar */
.sidebarBlackout {
	/* opacity: 0;
	background-color: #000; */
	opacity: 1;
	position: fixed;
	top: 0;
	height: 100vh;
	width: calc(100vw - var(--sidebar-width-mobile, 300px));
	transition: left 0.3s ease-in-out;
	z-index: 90;
}

.sidebarBlackoutHidden {
	visibility: hidden;
}

.sidebarBlackoutOpen {
	left: var(--sidebar-width-mobile, 300px);
}

.sidebarBlackoutClosed {
	left: calc(var(--sidebar-width-mobile, 300px) * -1);
}

/* Phones */
@media only screen and (max-width: 767px) {
	.sidebarDynamic {
		width: var(--sidebar-width-mobile, 200px);
	}

	.sidebarBlackout {
		width: calc(100vw - var(--sidebar-width-mobile, 300px));
	}

	.sidebarBlackoutOpen {
		left: var(--sidebar-width-mobile, 300px);
	}

	.sidebarBlackoutClosed {
		left: calc(var(--sidebar-width-mobile, 300px) * -1);
	}
}

/* Portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
	.sidebarDynamic {
		width: var(--sidebar-width-mobile, 200px);
	}

	.sidebarBlackout {
		width: calc(100vw - var(--sidebar-width-mobile, 300px));
	}

	.sidebarBlackoutOpen {
		left: var(--sidebar-width-mobile, 300px);
	}

	.sidebarBlackoutClosed {
		left: calc(var(--sidebar-width-mobile, 300px) * -1);
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.sidebarDynamic {
		width: var(--sidebar-width-tablet, 200px);
	}

	.sidebarBlackout {
		width: calc(100vw - var(--sidebar-width-tablet, 300px));
	}

	.sidebarBlackoutOpen {
		left: var(--sidebar-width-tablet, 300px);
	}

	.sidebarBlackoutClosed {
		left: calc(var(--sidebar-width-tablet, 300px) * -1);
	}
}

/* Desktops */
@media only screen and (min-width: 1024px) {

	.sidebarDynamic {
		width: var(--sidebar-width-static, 200px);
	}

}