.holidayCardList {
	/* background-color: aqua; */
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.holidayCard {
	border: 1px solid var(--secondary-accent, #BBB);
	padding: 15px;
	/* Add padding to the card */
	border-radius: var(--card-border-radius, 15px);
	min-height: 180px;
	width: 98%;
	margin: 0 auto;
}

.holidayCard:hover {
	border: none;
	background-color: var(--secondary-accent-light, #f0f0f0);
}