.holidayCardListContainer {
	/* background-color: yellow; */
	padding: 0;
	margin: 0;
}

.headerContainer {
	/* background-color: blue; */
	background-color: var(--background, #fafafa);
	position: sticky;
	top: var(--header-height, 80px);
	z-index: 90;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: calc(var(--button-height, 40px) + 20px);
	padding: 0 10px;
	margin: 0 auto;
}

/* Add a horrible header background container to keep a full width white background */
.headerContainerBackground {
	background-color: var(--background, #fafafa);
	/* background-color: red; */
	position: absolute;
	top: 0;
	left: -20px;
	z-index: 80;
	width: 100vw;
	height: calc(var(--button-height, 40px) + 20px);

}

.holidayHeader {
	/* background-color: green; */
	text-align: center;
	color: var(--text, #333);
	font-family: var(--font-family, ui-sans-serif);
	line-height: normal;
	z-index: 90;
}

.headerFilterContainer {
	/* background-color: red; */
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
	height: 40px;
	z-index: 90;
}


.filterLabel {
	color: var(--text, #333);
}

.filterButton {
	height: var(--button-height, 40px);
	margin-left: 10px;
}

.sortButton {
	height: var(--button-height, 40px);
	width: var(--button-height, 40px);
}

.holidayCardList {
	/* background-color: aqua; */
	padding-top: 1rem;
	padding: 1rem auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: max-content;
}

/* Modified from https: //ui.mantine.dev/category/article-cards/#article-card-image */

.card {
	height: rem(440px);
	width: rem(350px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-size: cover;
	background-position: center;
	filter: grayscale(40%);
	border-radius: var(--card-border-radius, 15px);
	/* background-image: url(https://images.unsplash.com/photo-1508193638397-1c4234db14d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80); */
}

.card:hover {
	filter: grayscale(0%);
}

/* Style the div around the text content */
.textContent {
	text-align: right;
	padding: var(--mantine-spacing-xs);
	border-radius: var(--card-border-radius, 15px);
	background-color: rgba(255, 255, 255, 0.7)
}

.date {
	color: var(--primary-color, #fe395c);
	opacity: 1;
	font-weight: 700;
	text-transform: uppercase;
}

.titleContainer {
	display: flex;
}

.markerIcon {
	color: var(--secondary-accent, #BBB);
}

.title {
	font-family:
		var(--mantine-font-family);
	font-weight: 900;
	color: var(--text, #333);
	opacity: 1;
	line-height: 1.2;
	font-size: rem(25px);
	margin-top: var(--mantine-spacing-xs);
	text-align: right;
	z-index: 15;
}

.cardBottomItemsContainer {
	width: 100%;
	/* background-color: aquamarine; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tagsContainer {
	display: flex;
}

.infoIcon {
	color: var(--secondary-accent, #BBB);
}

.button {
	justify-self: flex-end;
}

.button :hover {
	color: var(--main-accent, #fe395c);
}





/* Mobiles */
@media only screen and (max-width: 767px) {
	.holidayCardListContainer {
		padding: 0 10px;
	}

	.filterLabel {
		font-size: small;
	}

	.card {
		filter: grayscale(20%);
		/* Reduce the amount of greyscale on mobile where the card can't be hovered */
	}
}

/* Portrait mobiles */
@media only screen and (max-width: 767px) and (orientation: portrait) {
	.holidayCardListContainer {
		padding: 0 10px;
	}

	.filterLabel {
		font-size: small;
	}

	.card {
		filter: grayscale(20%);
		/* Reduce the amount of greyscale on mobile where the card can't be hovered */
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.headerContainer {
		padding: 0 40px;
	}

	.filterLabel {
		font-size: medium;
	}

	.holidayCardList {
		/* Flex the container to hold multiple holidays */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		row-gap: 20px;
		column-gap: 20px;
	}

	.card {
		filter: grayscale(20%);
		/* Reduce the amount of greyscale on tablet where the card can't be hovered */
	}
}

/* Desktops */
@media only screen and (min-width: 1024px) {

	.headerContainer {
		padding: 0 60px;
		left: 200px;
	}

	.filterLabel {
		font-size: medium;
	}

	.holidayCardList {
		/* Flex the container to hold multiple holidays */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		row-gap: 30px;
		column-gap: 20px;
	}
}