/* Hold the contents of main and the footer */
.fullPageContainer {
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	height: 100%;
}

.main {
	/* background-color: aqua; */
	/* Flex the main content to keep the footer set at the bottom - https: //philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
	flex: 1;
	position: inherit;
	/* Drop the contents of main under header */
	padding: var(--header-height, 80px) 0 0 0;
	/* margin: 0 var(--sidebar-width-static, 200px) 0 0; */
	left: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0px;
	/* The gap between the sidebar and the main content */
	justify-content: center;
	align-items: flex-start;
}

.mainDynamic {
	/* background-color: cadetblue; */
	width: 100vw;
}

/* Mobiles */
@media only screen and (max-width: 767px) {
	.main {
		/* background-color: #FFF000; */
		min-width: 100vw;
	}
}

/* Portrait mobiles */
@media only screen and (max-width: 767px) and (orientation: portrait) {
	.main {
		/* background-color: #FF0000; */
		left: 0;
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.main {
		/* background-color: #F11FF0; */
		min-width: 100vw;
		left: 0;
	}
}

/* Desktops */
@media only screen and (min-width: 1024px) {

	.main {
		/* background-color: aqua; */
		width: 95vw;
		padding-left: var(--sidebar-width-static, 200px);
		align-self: center;
	}
}