/* Hold the contents of main and the footer */
.fullPageContainer {
	/* background-color: purple; */
	/* position: fixed; */
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	/* top: 0; */
	/* left: 0; */
	margin: 0;
	padding: 0;
	/* padding-left: 10vw; */
	/* height: 100vh; */
	width: 100%;
	max-width: 100vw;
	/* width: 100vw; */
	align-items: center;
	justify-content: center;
	/* overflow-x: hidden; - Removed to fix sticky positioning */

}

.main {
	/* background-color: aqua; */
	/* Flex the main content to keep the footer set at the bottom - https: //philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
	flex: 1;
	position: static;
	/* Drop the contents of main under header */
	padding: var(--header-height, 80px) 0 0 0;
	/* margin: 0 var(--sidebar-width-static, 200px) 0 0; */
	left: 0;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0px;
	/* The gap between the sidebar and the main content */
	justify-content: center;
	align-items: flex-start;
	align-self: center;
	height: max-content;
	min-height: calc(100vh - var(--header-height, 80px) - var(--footer-height, 80px));
	max-width: 100vw;
	/* overflow-x: hidden; - Removed to fix sticky positioning */
	overflow-y: visible;
}

.mainDynamic {
	/* background-color: cadetblue; */
	width: 100%;
}

/* Mobiles */
@media only screen and (max-width: 767px) {
	.main {
		/* background-color: #FFF000; */
		min-width: 100%;
	}
}

/* Portrait mobiles */
@media only screen and (max-width: 767px) and (orientation: portrait) {
	.main {
		/* background-color: #FF0000; */
		left: 0;
		min-width: 100%;
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.main {
		/* background-color: #F11FF0; */
		min-width: 100%;
		left: 0;
	}
}

/* Desktops */
@media only screen and (min-width: 1024px) {

	.main {
		/* background-color: lightblue; */
		width: calc(100% - var(--sidebar-width-static, 200px));
		margin-left: var(--sidebar-width-static, 200px);
		align-self: center;
	}
}