.scrollToTopButton {
	position: fixed;
	bottom: 4rem;
	right: 2rem;
	padding: 0.5rem;
	transition-property: opacity;
	transition-duration: 200ms;
	opacity: 0;
	height: 45px;
	width: 45px;
	/* Set the width and height to create a circle */
	background-color: var(--secondary-accent, #BBB);
	border: none;
	border-radius: 50%;
	outline: none;
	z-index: 9999;
}

.scrollToTopButton:hover {
	opacity: 1;
}

.scrollToTopButtonVisible {
	opacity: 0.6;
}

.scrollToTopButtonIcon {
	color: var(--main-accent, red);
	height: var(--icon-height, 40px);
	width: var(--icon-height, 40px);
}