.pageHeaderContainer {
	/* background-color: #0070f3; */
	background-color: var(--white, #fff);
	line-height: 5px;
	width: 100%;
	text-align: left;
	color: var(--secondary-accent, #BBB);
	font-size: x-large;
	display: flex;
	align-items: center;
	position: fixed;
	top: var(--header-height, 80px);
	z-index: 5;
}

.pageHeader {
	color: var(--main-accent, #fe395c);
	margin-left: 8px;
}

/* Adjust styling for mobile */
@media only screen and (max-width: 767px) {

	.pageHeaderContainer {
		font-size: large;
	}

}