.holidayImageContainer {
	height: 60vh;
	width: 100%;
	/* Hide parts of the image that overflow */
	overflow: hidden;
	/* Needed to position the title text over the image */
	position: relative;
	top: calc(calc(var(--header-height, 80px) + 1rem)*-1);
	z-index: 0;
}

.holidayImage {
	height: 100%;
	/* Full height of the container */
	width: 100%;
	/* Full width of the container */
	object-fit: cover;
	/* Ensures the image covers the area, cropping as needed */
	object-position: center;
	/* Centers the image within the container */
	display: block;
	/* Remove default image inline behaviors */
}

.holidayImageOverlayContainer {
	position: absolute;
	top: 60%;
	left: 10px;
	color: white;
	text-align: left;
	z-index: 1;
	/* Ensure text is displayed on top of the image */
}

.holidayImageOverlayContainer h3 {
	font-size: 2rem;
	/* Ensure text is displayed on top of the image */
}

.holidayImageOverlayContainer h4 {
	font-size: 1.5rem;
	/* Ensure text is displayed on top of the image */
}

.clickableList {
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	color: var(--main-accent, #fe395c);
}