.page {
	background-color: var(--secondary-accent-light, #f0f0f0);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: var(--background, #fafafa);
	width: 368px;
	margin: 2rem 0;
	/* Add a margin at the bottom to push the card up */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	gap: 20px;
	padding: 1.25rem 2rem;
	border-radius: 2rem;
}

.title {
	font-size: 20px;
	font: bold;
	font-family: var(--font-family, ui-sans-serif);
	line-height: 1rem;
}

.errorTitle {
	font-size: 120px;
	font: bold;
	font-family: var(--font-family, ui-sans-serif);
	line-height: 0rem;
	color: var(--primary-accent, #fe395c);
	padding: 0;
	margin: 50px;
	text-align: center;
}

.Logo {
	height: 100px;
	width: 100px;
}

.text {
	font-size: 14px;
	color: var(--secondary-accent, #BBB);
}

.input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--secondary-accent, #BBB);
	border-radius: 0.5rem;
	font-size: 14px;
	font-family: var(--font-family, ui-sans-serif);
}

.label {
	font-size: 14px;
	font-family: var(--font-family, ui-sans-serif);
}

/* Mobiles */
@media only screen and (max-width: 767px) {
	.card {
		margin: 2rem 0 4rem;
		/* Add a margin at the bottom to push the card up */
	}
}

/* Style to match the NextAuth styling */
@media only screen and (max-width: 450px) {

	.card {
		width: 343px;
	}

}

/* Style for dark mode */
@media (prefers-color-scheme: dark) {
	.page {
		background-color: var(--background-dark-mode, #161A23);
	}

	.card {
		background-color: var(--secondary-accent-dark-mode, #0D1019);
	}

	.title {
		color: var(--off-white, #f3f3f3)
	}

	.label {
		color: var(--off-white, #f3f3f3);
	}

	.text {
		color: var(--off-white, #f3f3f3);
	}

	.Logo {
		filter: invert(100);
	}
}