.LoadingHolder {
	/* background-color: var(--secondary-accent-light, #f0f0f0); */
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.LoadingHolderOpaque {
	background-color: var(--secondary-accent-light, #f0f0f0);
}

.title {
	font-size: 20px;
	font: bold;
	font-family: var(--font-family, ui-sans-serif);
	line-height: 1rem;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotatingLogo {
	animation: rotate 2s linear infinite;
}

/* Mobiles */
@media only screen and (max-width: 767px) {
	.rotatingLogo {
		margin: 0 0 1rem 0;
		/* Add a margin at the bottom to push the logo up */
	}
}

/* Style for dark mode */
/* Style for dark mode */
:global([data-mantine-color-scheme="dark"]) .LoadingHolder {
	background-color: var(--background-dark-mode, #161A23);
}

:global([data-mantine-color-scheme="dark"]) .rotatingLogo {
	filter: invert(100);
}

:global([data-mantine-color-scheme="dark"]) .title {
	color: #ffffff;
}