.PhotoContainer {
	/* background-color: var(--secondary-accent-light, grey); */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 100vw;
	height: 40vh;
}