.hidden {
  display: none;
}

.section {
  width: 100%;
  max-width: 100vw;
  padding: 0 10px;
  z-index: 1;
  /* overflow-x: hidden; - Removed to fix sticky positioning */
}

#homepageHeader {
  text-align: center;
  color: var(--text, #333);
  font-family: var(--font-family, ui-sans-serif);
}

.mapContainer {
  margin: auto;
  height: 210px;
  width: 95%;
}

/* Mobiles */
@media only screen and (max-width: 767px) {
  .section {
    /* background-color: #FFF000; */
    padding: 0 20px;
  }
}

/* Portrait mobiles */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .section {
    /* background-color: #FF0000; */
    padding: 0 20px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    /* background-color: #F11FF0; */
    padding: 0 20px;
  }
}

/* Desktops */
@media only screen and (min-width: 1024px) {
  .section {
    /* background-color: lightgreen; */
    padding: 0 30px;
  }
}