.section {
  padding: 0 10px;
  z-index: 1;
}

.listsSection {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.listsSection h3 {
  text-align: center;
}

.title a {
  /* color: #0070f3; */
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

#homepageHeader {
  text-align: center;
  color: #BBB;
}

.mapContainer {
  margin: auto;
  height: 210px;
  width: 95%;
  background-color: #EAEAEA;
}

.hidden {
  display: none;
}


.travelcard {
  margin: 2rem auto;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  max-width: 90%;
}

.travelcard:hover,
.travelcard:focus,
.travelcard:active {
  color: #0070f3;
  border-color: #0070f3;
}

.travelcard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.travelcard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



.dataList {
  width: 100%;
  /* background-color: #0070f3; */
}

.clickableHeader {
  cursor: pointer;
  text-decoration: underline;
}

.clickableListItem {
  /* list-style: none; */
  cursor: pointer;
  text-decoration: underline;
}

.holidayImageContainer {
  position: relative;
  /* top: calc(-var(--header-height, 80px)); */
  /* top: -100px; */
  top: calc(calc(var(--header-height, 80px) + 1rem)*-1);
  z-index: 0;
  height: 60vh;
  width: 100%;
}


.holidayImageOverlayContainer {
  position: absolute;
  top: 60%;
  left: 10px;
  color: white;
  text-align: left;
  z-index: 1;
  /* Ensure text is displayed on top of the image */
}

.holidayImageOverlayContainer h3 {
  font-size: 2rem;
  /* Ensure text is displayed on top of the image */
}

.holidayImageOverlayContainer h4 {
  font-size: 1.5rem;
  /* Ensure text is displayed on top of the image */
}

/* Style the full sidebar */
.sidebar {
  position: fixed;
  top: var(--header-height, 80px);
  width: var(--sidebar-width, 300px);
  height: 100vh;
  background-color: #333;
  opacity: 0.95;
  transition: left 0.3s ease-in-out;
  z-index: 10;
}

.sidebarOpen {
  left: 0;
}

.sidebarClosed {
  left: calc(var(--sidebar-width, 300px) * -1);
  /* Start off-screen */
}

.sidebar-content {
  position: fixed;
  background-color: #555;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.toggle-button {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #777;
}

.sidebarBackContainer {
  position: fixed;
  background-color: #FF0000;
  top: 0;
  height: 100vh;
  width: calc(100vw -var(--sidebar-width, 300px));
}

.sidebarBackContainerOpen {
  left: var(--sidebar-width, 300px);
}

.sidebarBackContainerClosed {
  left: 0;
}