.hidden {
  display: none;
}

.section {
  padding: 0 10px;
  z-index: 1;
}

#homepageHeader {
  text-align: center;
  color: #BBB;
  font-family: var(--font-family, ui-sans-serif);
}

.mapContainer {
  margin: auto;
  height: 210px;
  width: 95%;
  background-color: #EAEAEA;
}